<!-- {% extends "base.html" %}
 
{% block title %}About{% endblock %}

{% block content %}

<div class="container" id="team" name="team">
	<br>
	<br>
	<h1 class="centered">About Us</h1>
	<div class="row white centered"?>
		<div class="col-md-6 centered">
			<p> "Mike likes computer science."
			</p>
		</div>
		<div class="col-md-6 centered">
			<p> "Jonathan likes compute science."
			</p>
		</div>
	</div>
</div> -->





<!-- {% extends "base.html" %}
 
{% block title %}About{% endblock %}

{% block content %}


<div class="text-center">
  <h2>About Us</h2>
  <p>Mike and Jonathan are both freshmen at the College. Mike is interested in studying Computer Science, and Jonathan is interested in studying Applied Math and Computer Science.</p>
</div>
<div class="text-center">
  <h3>{{WordCount}}</h3>
</div>


{% endblock %}


<!-- 
{% extends "base.html" %}
 
{% block title %}About{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid" style="padding-top=30px">
  <div class="container text-center">
    <h1 class="display-3">ImageN</h1>
  </div>
</div>
<div class="text-center">
  <h2>About Us</h2>
  <p> </p>
</div>
<div class="text-center">
  <h3>{{WordCount}}</h3>
</div> -->


<!-- {% endblock %}
